html,
body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
* {
    font-family: Arial;
}

header,
footer {
    line-height: 1.5;
    text-align: center;
    color: white;
}
header {
    background-color: green;
    font-size: 1.2em;
    padding: 5px;
}
footer {
    background-color: black;
}

#main {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    flex: 1;
}
#menu {
    background-color: red;
    color: white;
    padding: 20px 20px 20px 40px;
    width: 150px;
    flex-shrink: 0;
}
#menu > div {
    margin: 10px 0;
    text-decoration: underline;
}
#menu > div:hover {
    background-color: green;
}

#content {
    padding: 20px;
    text-align: justify;
}
.red-text {
    color: red;
    font-size: larger;
}
#content::selection {
    color: white;
    background: green;
}
