html,
body {
    margin: 0;
}

* {
    font-family: Arial;
}

#main {
    width: 500px;
    margin: 0 auto;
}

.btn-row {
    display: flex;
    width: 100%;
}
.btn {
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    border: 2px solid black;
}
.container {
    display: flex;
}
.content {
    padding: 10px;
    height: 300px;
    transition: all 0.1s linear;
    flex: 1;
}
.content img {
    max-width: 100%;
    max-height: 100%;
}
.content.hidden {
    flex: 0;
}
#left {
    background-color: blue;
}
#right {
    background-color: green;
}
