html,
body {
    margin: 0;
}

div {
    width: 120px;
    height: 80px;
    color: white;
}
.static {
    position: static;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

.blueviolet-bg {
    background-color: blueviolet;
}
.darkred-bg {
    background-color: darkred;
}
.peru-bg {
    background-color: peru;
}
.forestgreen-bg {
    background-color: forestgreen;
}
.indianred-bg {
    background-color: indianred;
}
.indigo-bg {
    background-color: indigo;
}

.big-block {
    width: 300px;
    height: 200px;
}
.medium-block {
    width: 150px;
    height: 100px;
}
.small-block {
    width: 60px;
    height: 40px;
}
